<footer class="container-fluid p-4 shadow-no-hover">
    <div class="ps-3 p-2 text-center">
        <p class="fw-bold m-0">Other places you can find me</p>
    </div>

    <div class="d-flex flex-row w-100 justify-content-center">
        <a href="https://github.com/ledzep443" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-github-square"></i>
        </a>

        <a href="https://www.linkedin.com/in/jimmy-purnell-4005821a8/" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://twitter.com/jimmypurnell443" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-twitter-square"></i>
        </a>
    </div>
</footer>
