@page "/about"

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-md-5 shadow-no-hover">
        <div class="col text-center">
            <h3 class="text-primary text-center">Who am I?</h3>
            <h2 class="text-center">I'm Jimmy Purnell, a passionate .NET and Ruby on Rails developer.</h2>
            <p class="d-inline-flex">
                I'm a software developer that specializes in .NET and Ruby on Rails development.
                <br />
                <br />
                Solving problems with software is fun for me.
                <br />
                <br />
                I love creating intuitive and reliable web apps by writing clean, effecient code.
                <br />
                <br />
                <h2>Background</h2>
                <hr />
                I started learning software development in 2020, and since then have focused on my own projects and perfecting the art of writing code. 
                I'm a passionate developer, always hungry to learn more. I try to code every day, not just to improve my coding skills, but because it is fun for me.
            </p>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <a href="assets/docs/James purnell.docx" download class="btn btn-primary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-file-word"></i>&nbsp; View Resume    
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="/portfolio" class="btn btn-secondary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-project-diagram"></i>&nbsp; Projects    
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer />
@code {

}
