@page "/contact"

<Client.Components.Public.Shared.Navbar />
<main class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-md-5 shadow-no-hover">
        <div class="col">
            <h1 class="mt-4">Contact</h1>
            <p class="mb-5">My preferred method of contact is email. I'll usually respond within 24 hours</p>
            <a href="mailto:jimmy@purnellsoftwaredevelopment.com" class="h3">jimmy@purnellsoftwaredevelopment.com</a>
        </div>
    </div>
</main>
<Client.Components.Public.Shared.Footer />
@code {

}
