@page "/skills"

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="mt-3 text-center">Skills</h1>
            <p class="text-center">On this page I've highlighted some of the skills I bring to software development teams.</p>
            <div class="row mt-4">
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/C-Sharp.png" class="card-img-top img-fluid" alt="C# image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold text-center">C# Programming</h3>
                            <p class="card-text">
                                I learned C# about a year ago, and use it daily to code fun new projects like this site!
                                C# enables me to write fast, clean and maintainable code.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/NET_Core.svg.png" class="card-img-top img-responsive" alt=".NET image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold text-center">.NET Framework</h3>
                            <p class="card-text">
                                I use proven design patterns and frameworks to build web apps. The mature framework ASP.NET with it's newest additions Blazor and .NET MAUI (was Xamarin Forms) fits the bill for most web apps and mobile apps.
                                Between ASP.NET, Blazor, and .NET MAUI I can develop cross platform web and mobile apps. Visit my <a href="/portfolio" class="text-decoration-none">portfolio</a> to see some of my work.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/Azure.png" class="card-img-top img-responsive" alt="Azure logo" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold text-center">Azure Dev Ops</h3>
                            <p class="card-text">
                                I use Azure to host my .NET apps securly in the cloud. The Azure cloud platform is an enterprise-grade cloud platform encompassing over 200 products and cloud services designed to help developers create new solutions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/Ruby.png" class="card-img-top img-fluid" alt="Ruby logo" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold text-center">Ruby</h3>
                            <p class="card-text">I learned Ruby 2 years ago, and use it regularly to code new projects and to hone my skills.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/Rails-Logo.png" class="card-img-top" alt="Rails logo" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold text-center">Ruby on Rails</h3>
                            <p class="card-text">Ruby on Rails is a mature web framework build with Ruby used to develop web apps. I have another personal site developed with Ruby on Rails available <a href="https://www.purnellsoftwaredevelopment.com" class="text-decoration-none">here</a>.
                                Check it out to see my hosted Ruby on Rails site, or go to my <a href="/portfolio" class="text-decoration-none">portfolio</a> to see it as well.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/JavaScript.png" class="card-img-top img-responsive" alt="JavaScript logo" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold text-center">JavaScript</h3>
                            <p class="card-text">
                                JavaScript is a scripting language used in almost every website ever created. With the introduction of Node.js, JavaScript doesn't just live on the front-end, it can also be used for the back-end of web apps too. 
                                No web developers arsenal would be complete without JavaScript, and I have worked with JavaScript for 2 years not just on it's own, but also with frameworks such as React.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/React.png" class="card-img-top img-responsive" alt="React logo" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold text-center">React</h3>
                            <p class="card-text">
                                React is a frontend framework that utilizes JavaScript (or TypeScript, though I use JavaScript) for creating fast single-page applications (means the site only updates what it needs, instead of the whole page in response to data changes or user interactions). Check out my <a href="/portfolio" class="text-decoration-none">portfolio</a> to see some of my React apps.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/html5-css3.png" class="card-img-top img-responsive" alt="HTML CSS logo" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold text-center">HTML and CSS</h3>
                            <p class="card-text">
                                HTML and CSS (along with JavaScript) lie at the heart of almost every web application you'll find on the web today. Check out my <a href="/portfolio" class="text-decoration-none">portfolio</a> to see my front end work.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/Bootstrap.png" class="card-img-top img-responsive" alt="Bootstrap logo" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold text-center">Bootstrap</h3>
                            <p class="card-text">
                                The look and feel are very important elements to any project. In the modern era of web development, anything you can view on the web needs to look great on a variety of devices and screen sizes.
                                I utilize the Bootstrap framework to bring an attractiveness and responsive design to my web apps.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<Client.Components.Public.Shared.Footer />

